body, html {
  margin: 0;
  overflow: hidden;
  @include vendor-prefix( transition, opacity 400ms );
}

body, .onepage-wrapper, html {
  display: block;
  position: static;
  padding: 0;
  width: 100%;
  height: 100%;
}

.onepage-wrapper {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  padding: 0;
  .section {
    width: 100%;
    height: 100%;
  }
}

.onepage-pagination {
  position: absolute;
  right: 10px;
  top: 50%;
  z-index: 5;
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    padding: 0;
    text-align: center;
    a {
      padding: 10px;
      width: 4px;
      height: 4px;
      display: block;
      &:before{
        content: '';
        position: absolute;
        width: 4px;
        height: 4px;
        background: rgba(0,0,0,0.85);
        border-radius: 10px;
      }
      &.active:before{
        width: 10px;
        height: 10px;
        background: none;
        border: 1px solid black;
        margin-top: -4px;
        left: 8px;
      }
    }
  }
}

h1, h2 {
	color: $primaryColor;
	font-family: 'Gruppo', sans-serif;
	font-size: 2em;
	font-weight: 400;
}

article {
	background: #DCF1F6;
  p {
    font-family: helvetica, sans-serif;
  }
}

div {
  color: #333;
  margin: 0 auto;
  width: 80%;
}

.mangroves {
	background-image: url(../img/mangroves.svg);
	background-repeat: no-repeat;
	background-size: cover;
	h1 {
    color: #2cbfb1;
		font-size: 3em;
    text-shadow: 1px 1px #fff, 1px -1px #fff, -1px 1px #fff, -1px -1px #fff, 1px 3px 3px #333;
	}
}

.surge {
  section {
    height: 5%;
    left: 0;
    position: absolute;
    width: 100%;
    &:nth-of-type(1) { background: rgba(79,176,199,1); bottom: 0; }
    &:nth-of-type(2) { background: rgba(79,176,199,0.9);  bottom: 5%; }
    &:nth-of-type(3) { background: rgba(79,176,199,0.8); bottom: 10%; }
    &:nth-of-type(4) { background: rgba(79,176,199,0.7); bottom: 15%; }
    &:nth-of-type(5) { background: rgba(79,176,199,0.6); bottom: 20%; }
    &:nth-of-type(6) { background: rgba(79,176,199,0.5); bottom: 25%; }
    &:nth-of-type(7) { background: rgba(79,176,199,0.4); bottom: 30%; }
    &:nth-of-type(8) { background: rgba(79,176,199,0.3); bottom: 35%; }
    &:nth-of-type(9) { background: rgba(79,176,199,0.2); bottom: 40%; }
    &:nth-of-type(10) { background: rgba(79,176,199,0.1); bottom: 45%; }
  }
}

.areas {
  overflow: hidden;
  &:before {
    background: rgba(156,98,64,0.75);
    border-radius: 0 100% 0 0;
    bottom: -15%;
    content: "";
    height: 65%;
    left: -80%;
    position: absolute;
    width: 170%;
    z-index: 9;
  }
  &:after {
    background: rgba(79,176,199,0.75);
    border-radius: 80% 0 0 0;
    bottom: -10%;
    content: "";
    height: 40%;
    position: absolute;
    right: 0;
    width: 100%;
  }
  .allTrees {
    bottom: 0;
    position: absolute;
    width: 0;
    z-index: 9;
  }
  .white {
    @extend .allTrees;
    background: rgba(255,255,255,0.5);
    height: 70%;
    left: 0;
  }
  .black {
    @extend .allTrees;
    background: rgba(0,0,0,0.5);
    height: 60%;
    left: 33.3%;
  }
  .red {
    @extend .allTrees;
    background: rgba(220,50,50,0.5);
    height: 50%;
    left: 66.6%;
  }
  h3 {
    color: #000;
    display: block;
    font-size: 2em;
    font-family: 'Gruppo', sans-serif;
    font-weight: 400;
    margin: 1em auto;
    opacity: 0;
    position: relative;
    text-align: center;
    text-shadow: 0 1px 1px #eee;
    @include vendor-prefix (transition, opacity 4s ease);
  }
  &.active {
    h3 {
      opacity: 1;
      @include vendor-prefix (transition, opacity 4s ease-out 4s);
    }
    .white {
      @include vendor-prefix (animation, expand 2.5s ease-in 3s);
      @include vendor-prefix (animation-fill-mode, forwards);
    }
    .black {
      @include vendor-prefix (animation, expand 2s ease-in 5.5s);
      @include vendor-prefix (animation-fill-mode, forwards);
    }
    .red {
      @include vendor-prefix (animation, expand 2s ease-in 7.5s);
      @include vendor-prefix (animation-fill-mode, forwards);
    }
  }
}

.blackMangroves {
  &.active {
    section {
      display: block;
      span {
        background: rgba(156,98,64,0.9);
        border-radius: 1vh 1vh 0 0;
        display: inline-block;
        vertical-align: middle;
      }
      &.large {
        span {
          height: 0;
          margin: 5vh 3% 0 3%;
          width: 1%;
          @include vendor-prefix (animation, blkLarge 4s linear 1s);
          @include vendor-prefix (animation-fill-mode, forwards);
          &:nth-of-type(2n) {
            padding: 2vh 0;
            margin: 5vh 2% 0 2%;
          }
        }
      }
      &.medium span {
        height: 0;
        margin: 6vh 3% 0 3%;
        width: .5%;
        @include vendor-prefix (animation, blkMedium 3s linear 2s);
        @include vendor-prefix (animation-fill-mode, forwards);
        &:nth-of-type(2n) {
          padding: 1vh 0;
        }
      }
      &.small span {
        height: 0;
        margin: 4vh 3% 0 3%;
        width: .3%;
        @include vendor-prefix (animation, blkSmall 2s linear 3s);
        @include vendor-prefix (animation-fill-mode, forwards);
        &:nth-of-type(2n) {
          padding: .5vh 0;
          margin: 5vh 2% 0 3.5%;
        }
      }
    }
  }
}

.whiteMangroves {
  section {
    height: 50vh;
    margin: 0 auto;
    position: relative;
    width: 50%;
    &:before, &:after {
      background: #329e35;
      border-radius: 50%;
      bottom: 0;
      content: "";
      height: 45vh;
      position: absolute;
      width: 50%;
    }
    &:before {
      box-shadow: -10px 15px 50px #aaa;
      left: -4%;
      @include vendor-prefix (transform, skew(20deg,18deg));
    }
    &:after {
      box-shadow: 10px 15px 50px #aaa;
      right: -4%;
      @include vendor-prefix (transform, skew(-20deg,-18deg));
    }
  }
}
.pepper {
  img {
    width: 100%;
  }
}

.map {
  div {
    margin: 10vh auto 0 auto;
    position: relative;
    height: 75vh;
  }
  h1 {
    margin-bottom: .5em;
  }
  .areaExplained {
    color: #ee6363;
    display: none;
    left: 0;
    position: absolute;
    top: 50vh;
  }
  .florida, .florida-man {
    position: absolute;
    height: 100%;
    &:hover {
      &~ .areaExplained {
        display: block;
      }
    }
  }
  .florida {
    fill: #000;
  }
  .florida-man {
    fill: #ee6363;
    z-index: 999;
  }
}

iframe {
  min-height: 70vh;
  width: 100%;
}

.links {
    a {
      display: block;
      color: #333;
      margin: .5em 0 .5em .5em;
      text-decoration: none;
    }
}

.home {
  text-align: center;
  a {
    text-decoration: none;
  }
  h1 {
    background: #DCF1F6 / 1.5;
    padding: 1em;
  }
}

@media (min-width: 60em) {
  h1 {
    font-size: 3.5em;
    line-height: 1em;
    margin-bottom: 0;
  }
  div {
    line-height: 1.75em;
  }
  .mangroves {
    h1 {
      font-size: 5em;
    }
  }
}